/*
Theme: Drcreation.
Author: Romain Fourel
Version: 1.0.1
Fichiers Variables couleurs
*/

// Couleurs principal
/* Color Theme Swatches in Hex */
$Color-portraits-1-hex: #D9B4BE;
$Color-portraits-2-hex: #8C0343;
$Color-portraits-3-hex: #2A2F8C;
$Color-portraits-4-hex: #022859;
$Color-portraits-5-hex: #D9D6D0;

/* Color Theme Swatches in RGBA */
$Color-portraits-1-rgba: rgba(216,179,189, 1);
$Color-portraits-2-rgba: rgba(140,2,66, 1);
$Color-portraits-3-rgba: rgba(42,46,140, 1);
$Color-portraits-4-rgba: rgba(1,39,89, 1);
$Color-portraits-5-rgba: rgba(216,213,208, 1);

/* Color Theme Swatches in HSLA */
$Color-portraits-1-hsla: hsla(343, 32, 77, 1);
$Color-portraits-2-hsla: hsla(331, 96, 28, 1);
$Color-portraits-3-hsla: hsla(236, 53, 35, 1);
$Color-portraits-4-hsla: hsla(213, 96, 17, 1);
$Color-portraits-5-hsla: hsla(39, 10, 83, 1);
