/****
 * Styles de la page d'accueil
 * 
 */
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *; //chargement du fichier

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  // partie du slider
  .Drc-slider {
    --bs-gutter-x: 0;

    .slider-Drc {
      --bs-gutter-x: 0;
      box-shadow: 2px 10px 20px black;
    }

  }

  //titre de la page d'accueil 
  .Drc-title-homPage {
    margin: 5rem 0;
  }

  .Drc-presentationAc {
    position: relative;
    width: 60rem;
    padding: 3rem;
    height: auto;
    margin-bottom: 3rem;
    background-color: $Color-portraits-1-hex;
    /* La couleur de fond de l' élément */
    // border: 1px solid black;
    border-top: none;
    /* La bordure de l'élément */
    border-radius: 1rem;
    box-shadow: -1px 20px 20px 0px black;

    .Drc-contentPrez {
      .Drc-prezTitle {
        width: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        border-left: 1px solid white;
        border-right: 1px solid white;
        p {
          color: $Color-portraits-4-hsla;
          text-align: justify;
        //line-height: 0.3rem;
        }
        //line-height: 0.3rem;

      }

      .Drc-prezImage {
        margin-top: 3rem;

        img {
          border-radius: 1rem;
        }

      }
    }


  }

  .Drc-presentationAc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    /* On le place au milieu */
    transform: translateX(-50%);
    /* On le recentre parfaitement */
    width: 30rem;
    height: 2rem;
    z-index: 2;
    /* Pour qu'il soit au-dessus de la section */
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 1rem solid white;
    /* La bordure qui crée la découpe */
  }

}

