/*****
 * Realisations Page Styles (index.php)
 * @package DrCreation
 * @since 1.0.0
 * @version 1.0.0
 *****/

@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *; //chargement du fichier

.page-template-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .dr-slider-post {
    --bs-gutter-x: 0;

    .slider-Drc-post {
      --bs-gutter-x: 0;
      box-shadow: 2px 10px 20px black;
    }
  }

  // titre de la page réalisations
  .DrPostTitle {
    margin: 5rem 0;
  }

  
}